
[Desktop Entry]
Name=tx8-vcc2 Version 0.1
Comment=tx8-vcc2 Version 0.1
Exec=tx8-vcc2
Icon=/usr/local/share/pixmaps/tx8-vcc2/ 
Terminal=false
MultipleArgs=false
Type=Application

